

.footer {
  display: block;
  bottom: 0px;
  position: relative;
  color:gray;
  background-color: white;
  z-index: 160;
  width:100%;
  text-align: center;
}

.container {
  align:center;
  width:90%;
  border: 2px solid gray;
  background-color:#ebebe0;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  }

  .div-inline{
      display:inline-block;
  }



p{
    padding: 5px 0;
    font-weight: bold;
    font-size:15px;
}

.page_title{
    font-weight: bold;
    font-size:25px;
    color:gray;
    padding-top: 3%;
}

.error{
    color:red;
}

.confirm{
    color:green;
}

.container3 {
   align:center;
   width:90%;
   margin-left: auto;
   margin-right: auto;
  }

 .spacer20 {
   height: 20px;
 }

  .spacer10 {
    height: 10px;
  }


.button {
  padding: 5px 12px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 3px;
  box-shadow: 0 1px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 1px #666;
  transform: translateY(1px);
}

.icon{
    padding-right: 5%;
    align:right;
    padding-top: 5%;
}

.dropdown{
 margin-left:1%;
}
