img {
  max-width: 100%;
  height: auto;
}

.container {
  align:center;
  width:90%;
  border: 2px solid gray;
  background-color:#ebebe0;
  box-shadow: 0 10px 20px rgba(0,0,0,.1);
  position:relative;
  }

.container2 {
  align:center;
  width:90%;
   margin-left: auto;
   margin-right: auto;
   margin-top: 3%;
   margin-bottom: 3%;
  }

.container3 {
   align:center;
   width:90%;
   margin-left: auto;
   margin-right: auto;
  }

.red{
    border: 2px solid red;
    background-color: #ed4949;
    text-align: centre;
    padding: 18px;
    margin: 5px;
    table-layout: fixed;
}

.red:focus{
    background-color:red;
}

.red:hover{
    background-color:red;
}

.orange{
    border: 2px solid orange;
    background-color: #f4df42;
    text-align: centre;
    padding: 18px;
    margin: 5px;
    table-layout: fixed;
}

.orange:focus{
    background-color:orange;
}

.orange:hover{
    background-color:orange;
}

.green{
    border: 2px solid green;
    background-color: #69c958;
    text-align: centre;
    padding: 18px;
    margin: 5px;
    table-layout: fixed;
}

.green:focus{
    background-color:green;
}

.green:hover{
    background-color:green;
}

.floor{
  position:absolute;
  top: 38%;
  left: 75%;
  width: 12%;
  border: 2px solid grey;

}

.desk{
    position: relative;
    z-index: 1;
    transform: scaleX(-1);
}

.desk_number{
    position: absolute;
    color: black;
    font-size: 8px;
    z-index: 100;
}

.outer{
    position:relative;
}


.blank_row
{
    height: 50px !important;
    background-color: #FFFFFF;
}

.footer {
  display: block;
  bottom: 0px;
  position: relative;
  color:gray;
  background-color: white;
  z-index: 160;
  width:100%;
  text-align: center;
}

.desk_history{
    border: 2px solid grey;
    background-color: #ebedf4;
    padding: 15px;
    z-index: 150;
}

.page_title{
    font-weight: bold;
    font-size:25px;
    color:gray;
    padding-top: 3%;
}

.spacer50 {
  height: 50px;
}

.spacer20 {
  height: 20px;
}

.capacityTable{
    table-layout: auto;
    width: 100%;
    text-align: center;
    font-weight:bold;
    border-collapse: separate;
    border-spacing: 5px;
}



.div-inline{
      display:inline-block;
      position: relative;
      top: 10%;
}

p{
    font-weight: bold;
    font-size:16px;

}

.icon{
    padding-right: 5%;
    align:right;
}

.button {
  padding: 5px 12px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: gray;
  border: none;
  border-radius: 3px;
  box-shadow: 0 1px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 1px #666;
  transform: translateY(1px);
}

.betterTime{
    font-size: 20px;
}














