
body {
  background-color: #717176;
}


.building {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  display: block;
  max-width: 100%;
  height: auto;
}

.logo{
  position: relative;
  top: 20&;
  left: 10%;
  width: 20%;
  display: block;
  max-width: 100%;
  height: auto;
}

.p{
position: fixed;
  top: 20&;
  left: 10%;
  width: 20%;
}

img.office1:hover {
  opacity: 0.5;
}
img.office2:hover {
  opacity: 0.5;
}
img.office3:hover {
  opacity: 0.5;
}
img.office4:hover {
  opacity: 0.5;
}

.footer {
  display: block;
  bottom: 0px;
  position: fixed;
  color:white;
  z-index: 160;
  width:100%;
  text-align: center;
}

.container2 {
  width:50%;
  position:absolute;
  top:30%;
  left:10%;
  }



.divSquare{
          width:50%; height:auto;
 }




