.footer {
  display: block;
  bottom: 0px;
  position: relative;
  color:gray;
  background-color: white;
  z-index: 160;
  width:100%;
  text-align: center;
}

.container {
  align:center;
  width:90%;
  height: auto;
  border: 2px solid gray;
  background-color:#ebebe0;
  box-shadow: 0 10px 20px rgba(0,0,0,.1);
  }

.container2 {
  align:center;
  width:auto;

  }

.row{
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 15px;
}

p{
    text-align:center;
    padding: 10px 0;
    font-weight: bold;
}


graph_title{
    text-align:left;
    font-weight: bold;
    font-size:15px;
}

.panel-default{
  margin-right:auto;
  margin-left:auto;
  background:white;
  width: auto;
  height: 200px;
  text-align:center;
  z-index: -10;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
}

.graph_box{
    margin-left: 1%;
    margin-right:1%;
}

save{
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right:15px;
    margin-left: 15px;
}

.red{
    border: 2px solid red;
    background-color: #ed4949;
    text-align: centre;
    padding: 18px;
    margin: 5px;
    table-layout: fixed;
    display: inline-block;
}

.orange{
    border: 2px solid orange;
    background-color: #f4df42;
    text-align: centre;
    padding: 18px;
    margin: 5px;
    table-layout: fixed;
    display: inline-block;
}

.green{
    border: 2px solid green;
    background-color: #69c958;
    text-align: centre;
    padding: 18px;
    margin: 5px;
    table-layout: fixed;
    display: inline-block;
}

.capacity_block{
    margin-right:10px;
    margin-left:10px;

}

.box_number{
    text-align: centre;
    margin:auto;
    font-size:30px;
}


//chart css

{box-sizing:border-box}

.chart {
  width: 100%;
  background-color: white;
  border: 2px solid dark grey;
}

.chart2 {
  width: 96%;
  background-color: #f5f5f0;
  border: 2px solid dark grey;
  margin-left: 2%;
  margin-right:2%;
  border-radius: 25px;
}

.axis_title{
       text-align:left;
       font-size:12px;
       font-weight: bold;
}

.bar{
    text-align: right;
    color: white;
    height: 45px;
}

.bar2{
    text-align: right;
    color: white;
    height: 10px;
    border-radius: 25px;
}

.bar2_comment{
  font-size:10px;
}

.page_title{
    font-weight: bold;
    font-size:25px;
    color:gray;
    padding-top: 3%;
}

.capacityTable{
    table-layout: auto;
    width: 100%;
    text-align: center;
    font-weight:bold;
    border-collapse: separate;
    border-spacing: 5px;
}

.container3 {
   align:center;
   width:90%;
   margin-left: auto;
   margin-right: auto;
  }

 .icon{
     padding-right: 5%;
     align:right;
     padding-top: 5%;
 }

 .spacer20 {
   height: 20px;
 }

 .spacer10 {
   height: 10px;
 }

  .spacer30 {
    height: 30px;
  }


